button {
    background-color: #00ff0000;
    box-sizing: border-box;
    border : 0;
    outline : 0;
}
.todo {
    position: relative;
    width: 1500px;
    height: 800px;
    margin : 30px auto;
    overflow: hidden;
}
header {
    width: 100%;
    height: 60px;
    background: #24292E;
    text-align: center;
}
.title{
    width: 1400px;
    height: 100%;
    line-height: 60px;
    font-size: 17px;
    text-align: left;
    color: whitesmoke;
    font-weight: bolder;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}
.btn-menu{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: right;
    padding-right: 25px;
    color: whitesmoke;
    font-weight: bolder;
    background-color: #00ff0000;
    box-sizing: border-box;
    border : 0;
    outline : 0;
}
.btn-menu:hover{
    color: grey;
}
.column-wrap {
    width: 100%;
    height: 100%;
    display : flex;
    box-sizing: border-box;
}
.column{
    border: solid 1px #D8D8D8;
    width: 500px;
    height: 725px;
    margin: 15px;
    background: #EFF1F3;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}
.column-header{
    width:467px;
    height: 70px;
    display: flex;
    line-height: 30px;
}

.list-total{
    width: 35px;
    text-align: center;
    margin : 18px;
    font-size: 18px;
    font-weight: bold;
    background-color: #BDBDBD;
    border-radius: 35px;
}
.column-title{
    width: 310px;
    margin-right : 15px;
    margin-top: 18px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.btn-add{
    width: 20px;
    height: 10px;
    margin-top: 18px;
    margin-right : 10px;
    font-size: 19px;
    border : 0;
    outline : 0;
}
.btn-close{
    width: 20px;
    height: 10px;
    margin-top: 18px;
    font-size: 20px;
    border : 0;
    outline : 0;
}
.btn-add:hover{
    color : #04B45F;
}
.column-content {
    height : 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.add-list-wrap{
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
textarea {
    width : 410px;
    min-height: 70px;
    max-height: 400px;
    border-radius: 5px;
    border: solid 1px #D8D8D8 ;
    padding: 10px;
    font-size: 18px;
    resize: vertical;
}
.add-list-btn {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.btn-list-add {
    width: 200px;
    height: 45px;
    background: #04B45F;
    border: solid 1px #A4A4A4;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    outline: 0;
}
.btn-list-add:hover{
    outline : 0;
    border: solid 1px #6E6E6E;
    background: #088A4B;
}
.btn-list-cancel {
    width: 200px;
    height: 45px;
    background: #FAFAFA;
    border: solid 1px #D8D8D8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    outline: 0;
}
.btn-list-cancel:hover{
    outline : 0;
    background: #D8D8D8;
    border: solid 1px #A4A4A4;
}
.list {
    width: 460px;
    height: 630px;
    overflow: scroll;
}
.list-add {
    width: 460px;
    max-height: 470px;
    height: inherit;
    overflow: scroll;
}
.list::-webkit-scrollbar {
    display: none;
}
.list-add::-webkit-scrollbar {
    display: none;
}

.card{
    min-height: 100px;
    margin : 20px 15px 15px 22px;
    box-sizing: border-box;
    background: white;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    box-shadow: 1.5px 1.5px 2px 1.5px #D8D8D8;
}
.list-icon{
    font-size: 20px;
    color: dimgrey;
    padding-top: 5px;
    padding-left: 5px;
}
.card-content{
    width: 400px;
    text-align: left;
    box-sizing: border-box;
    padding: 8px 10px 10px 10px;
}
.card-content > .content {
    color:#6E6E6E ;
    font-weight: 500;
    font-size: 17px;
    min-height: 50px;
    /* font-weight: bold; */
}
.card-content > .writer-message {
    font-size: 13px;
    color: #848484;
    margin: 7px 0px 0px 0px;
    font-weight: 600;
}
.btn-list-delete {
    background-color: #00ff0000;
    box-sizing: border-box;
    color: dimgrey;
    padding-top: 6px;
    padding-right: 5px;
    font-size: 18px;
    height: 15px;
    border : 0;
    outline : 0;
}
.btn-list-delete:hover{
    color: black;
}
.writer-id {
    color:black ;
    font-weight: 600;
}
.menu {
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0px;
    right: -450px;
    background:white;
    box-sizing: border-box;
    border: solid 2px #E6E6E6;
    box-shadow: #BDBDBD -1px 0px 10px 0.5px;
}
.menu-header{
    height: 40px;
    border-bottom: solid 1px #D8D8D8;
    display: flex;    
    box-sizing: border-box;
    background: #F8F9FA;

}
.menu-title{
    height: 40px;
    width: 90%;
    line-height: 40px;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 15px;
}
.menu-btn-close {
    height: 20px;
    line-height: 40px;
    font-size: 17px;
    color: #848484;
    background-color: #00ff0000;
    outline: 0;
}
.menu-btn-close:hover{
    color: #24292E;
}
.activity{
    height: 40px;
    border-bottom: solid 1px #D8D8D8;
    display: flex;    
    box-sizing: border-box;
    background: #F8F9FA;
}
.activity-title {
    height: 40px;
    width: 90%;
    line-height: 40px;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 15px;
}
.activity-list {
    box-sizing: border-box;
    height: 715px;
    overflow: scroll;
}
.activity-list::-webkit-scrollbar{
    display: none;
}
.activity-list > li {
    width: 100%;
    min-height: 80px;
    border-bottom: solid 1px #D8D8D8;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}
.user-profile-photo {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 30px;
}
.activity-message {
    margin: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.activity-id,.activity-content{
    color: #0174DF;
    font-weight: bold;
}
.activity-column-name {
    font-weight: bold;
}
.time-message {
    margin: 5px;
    color: #848484;
    font-weight: bold;
}
.edit-note-background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-note-modal {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    border : solid 1px #6E6E6E;
    background: white;
    box-sizing: border-box;
}
.edit-note-header {
    display: flex;
    background: #E6E6E6;
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
}
.edit-note-title {
    width: 89%;
    height: 50px;
    line-height: 50px;
    margin-left: 22px;
    font-size: 20px;
    color: #585858;
    font-weight: bold;
    box-sizing: border-box;
}
.edit-note-close-btn {
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    color: #848484;
}
.edit-note-close-btn:hover{
    color: #24292E;
}
.edit-note-content {
    display: flex;
    flex-direction: column;
}
.note-title {
    margin: 10px 10px 10px 22px;
    font-size: 15px;
    font-weight: bold;
}
.edit-note-textarea {
    margin: 10px auto;
    width: 88%;
    height: 200px;
    resize: none;
    font-size: 17px;
}
.edit-note-save-btn {
    text-align: left;
    margin: 10px 10px 10px 22px;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 35px;
    background: #04B45F;
    border: solid 1px #A4A4A4;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
}
.edit-note-save-btn:hover{
    border: solid 1px #6E6E6E;
    background: #088A4B;
}